#setup-library {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .setup-library-text-field {
        margin-right: 8px;
    }

    .browse-button {
        margin-right: 8px;
    }
}
